
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Roboto Slab', serif;*/
/*font-family: 'Noto Serif', serif;*/

*{
    box-sizing: border-box;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Noto Serif', serif;
    /*font-family: Serif;*/
    color: #283C4A;

}

img{
    max-height: 100%;
    max-width: 100%;
}
/*nav drawer hor*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /*background-color: #333;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Noto Serif', serif;*/
}

li {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*font-family: 'Noto Serif', serif;*/
}

li a {
    font-size: 18px;
    /*font-weight: 200;*/
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
}

li a:hover {
    /*background-color: #c1c5c9;*/
    border-bottom: 2px solid blue;
/*    todo */
}

.main-body{
    /*background-color: darkgrey;*/
    display: flex;
    justify-content: center;
}

.all-content-container{
    justify-content: center;
    width: 1200px;
    /*background-color: aqua;*/
    /*background-color: #f7f7f7;*/
}

.website-name{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    color: #283C4A;
    font-family: 'Roboto Slab', serif;
}


.nav-drawer-hor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px;
    font-family: 'Noto Serif', serif;
}

.news-section-top{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
img{
    justify-content: center;
    padding: 3px;
    margin: 3px;
    /*border-top-left-radius: 8px;*/
    /*border-top-right-radius: 8px;*/
    max-width: 100%;
    max-height: 100%;

}
.newssectiontop-popular-news{
    justify-content: center;
    /*background-color: antiquewhite;*/
    flex: 5;
    margin: 8px;
    /*box-shadow: 2px 5px 8px 3px rgba(0,0,0,0.2);*/
    /*border-radius: 8px;*/
    /*border: 1px solid rgba(0,0,0,0.2);*/
    background-color: white;
}

.popularnews_image{
    width: 100%;

}
.newsectiontop-popular-article-text-body{
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
}
/*newssectiontop-popular-article-heading{*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*}*/
.newssectiontop-othernews{
    margin-top: 0;
    padding-top: 0;
    /*background-color: bisque;*/
    flex: 3;
}

.newssection-bottom-container-footer,.section1-normal-article-footer,.newssectiontop-popular-article-footer,.othernews-footer{
    /*padding-right: 5px;*/
    display: flex;
    flex-direction: row;

    width: 100%;
}

.comments{
    /*margin-left: 2px;*/
    margin-right: 8px;
}
.newssection-bottom-container-headline,.othernews-headline{
    /*text-align: center;*/
    font-size: 22px;
    font-weight: bold;
    text-align: justify;
    margin-bottom:10px;
}
.newssectiontop-popular-article-heading,.othernews-body,.newssectiontop-popular-article-text,.newssection-bottom-container-body{
margin-bottom: 12px;
    /*text-align: justify;*/
    /*font-family: 'Roboto', sans-serif;*/

}
.othernews-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 2;
}
.newssectiontop-othernews{
    /*margin: 10px;*/
    justify-content: space-between;
    /*background-color: red;*/
}
.newssectiontop-othernews-article-container{
    padding: 10px;
    margin: 10px;
    /*background-color: yellow;*/
    /*box-shadow: 2px 5px 8px 3px rgba(0,0,0,0.2);*/
    /*border-radius: 8px;*/
    /*border: 1px solid rgba(0,0,0,0.2);*/
}
.othernews-content{
    /*flex: 1;*/

}

.othernews-image{
    flex: 1;
    float: right;
    width: 50%;
}


/*-----------------------------------------------*/

.news-section-middle{
    flex-direction: row;
    display: flex;
    margin-bottom: 10px;
}
.news-section-middle[first-child]{
    color: red;
}
.news-section-bottom{
    margin-bottom: 10px;
    width: 100%;
    flex-direction: row;
    display: flex;
    /*padding: 10px;*/

}

.newssection-bottom-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    /*box-shadow: 2px 5px 8px 3px rgba(0,0,0,0.2);*/
    /*border-radius: 8px;*/
    /*border: 1px solid rgba(0,0,0,0.2);*/
    margin-right: 8px;
    margin-left: 8px;
}
.newssection-bottom-container-image{
    flex: 1;
    float: left;
    /*height: 90%;*/
    /*padding: 4px;*/

}
.newssection-bottom-container-content{
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4px;
}
.newssectiontop-popular-article-heading{
    font-size: 28px;
    font-weight: bolder;
}
.newsectiontop-popular-article-text-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.othernews-headline{
    font-size: 22px;
    font-weight: bold;
    /*font-weight: bold;*/
}
/*news ection and its child div only, not children of children*/
.news-section-top>div{
    margin-top:0;
    padding-top: 0;
}
.newssectiontop-othernews-article-container{
    margin-top: 0;
    display: flex;
    flex-direction: row;
}
/**/
/*.news-section-top div{*/
/*    margin-top: 0;*/
/*    */
/*}*/

.comments, .comments+div{
    color: #84888c;
    font-family: 'Noto Serif', serif;
}

.newssectiontop-popular-article-heading,.othernews-headline,.newssection-bottom-container-headline{
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    text-align: justify-all;
}